name: cascade

services:  
    cdc : 
      build:
        context: .
        dockerfile: cdc/Dockerfile
      container_name: cdc
      networks :
        - telemetry
      depends_on :
        - kafka
        - jaeger
        - prometheus
        - grafana
        - main-db
      restart: always
    
    kafka:
      image: bitnamilegacy/kafka:latest
      container_name: broker
      ports:
        - "9092:9092"
      environment:
        - KAFKA_CREATE_TOPICS="sql-topic:1:1"
        - KAFKA_CFG_NODE_ID=1
        - KAFKA_CFG_PROCESS_ROLES=controller,broker
        - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
        - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
        - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
        - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
        - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
        - KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR=1
        - KAFKA_CFG_TRANSACTION_STATE_LOG_MIN_ISR=1
        - KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      networks :
        - telemetry
      
    jaeger : 
      image : cr.jaegertracing.io/jaegertracing/jaeger:latest
      ports :
        - 4317-4318:4317-4318 
        - 5778:5778 
        - 9411:9411 
        - 16686:16686 
        - 14268:14268 
        - 14269:14269
      networks :
        - telemetry
      
    prometheus :
      image : prom/prometheus:latest
      volumes :
        - ./prometheus.yml:/etc/prometheus/prometheus.yml
      ports :
        - 9090:9090
      networks :
        - telemetry
    grafana :
      image : grafana/grafana:latest
      ports :
        - 3000:3000
      networks :
        - telemetry
  
    main-db :
      build: ./main-db/
      container_name : main-db
      environment :
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=mysecretpassword
        - POSTGRES_DB=postgres
      volumes:
        - ./main-db/postgresql.conf:/etc/postgresql/postgresql.conf
        - ./main-db/init.sql:/docker-entrypoint-initdb.d/init.sql
      networks :
        - telemetry
      command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]
    
    shard1-router :
      build:
        context: .
        dockerfile: shard-router/Dockerfile
      container_name : shard1-router
      networks :
        - telemetry
      depends_on :
        - shard1-db
      restart: always
      environment :
        - DATABASE_URL=postgresql://postgres:mysecretpassword@shard1-db:5432/postgres
        - SHARD_ID=1
        - BROKER_URL=broker:9092
  
    shard1-db :
      image : postgres:18
      container_name : shard1-db
      environment :
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=mysecretpassword
        - POSTGRES_DB=postgres
      networks :
        - telemetry

networks : 
  telemetry :
